.general {
    width: 1290px;

    &__nav {
        margin-top: 30px;
    }

    &__firesales {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}