@import "../../styles/Colors.scss";

.layout {

    &_header {
        display: flex;
        justify-content: center;
        background-color: $white;
        border-bottom: $line_gray 1px solid;
    }

    &_content {
        display: flex;
        justify-content: center;
        height: fit-content;
        background-color: $background_gray;
        min-height: calc(100vh - 64px - 260px);
    }   

    &_footer {
        margin-top: 60px;
        clear: both;
        display: flex;
        justify-content: center;
        background-color: $white;
        border-top: $line_gray 1px solid;
    }
}